# `nb02c`: Data wrangling

![](./figures/nb02/pandas.png)

Pandas is a Python library for data manipulation and analysis. It offers data structures and operations for manipulating hetereogeneous and labeled data.

In [ ]:
import numpy as np
import pandas as pd  # Load pandas

# Let's start with a showcase

From loading a dataset to answering questions in a few lines of code:

In [ ]:
!head data/titanic.csv

In [ ]:
df = pd.read_csv("data/titanic.csv")
df.head()

In [ ]:
# What is the age distribution of the passengers?
df["Age"].hist()

In [ ]:
# How does the survival rate of the passengers differ between males and females?
df.groupby("Sex")["Survived"].mean()

In [ ]:
# How does it differ between passenger classes?
df.groupby("Pclass")["Survived"].mean().plot(kind="bar")

# Pandas: data analysis in Python

For data-intensive work in Python, the [Pandas](http://pandas.pydata.org) library has become essential.

_What is Pandas?_

* Pandas can be thought of as *Numpy arrays with labels* for rows and columns, and better support for heterogeneous data types, but it's also much, much more than that.
* Pandas can also be thought of as `R`'s `data.frame` in Python.
* Powerful for working with missing data, working with time series data, for reading and writing your data, for reshaping, grouping, merging your data, ...

Its documentation is available at http://pandas.pydata.org/pandas-docs/stable/.


_When do you need Pandas?_

When working with **tabular or structured data** (like R dataframe, SQL table, Excel spreadsheet, ...):

- Import data
- Clean up messy data
- Explore data, gain insight into data
- Process and prepare your data for analysis
- Analyse your data (together with scikit-learn, statsmodels, ...)

<div class="alert alert-danger">
Pandas is great for working with heterogeneous and tabular 1d/2d data, but not all types of data fit in such structures!
<ul>
<li>When working with array data (e.g. images, numerical algorithms), stick with Numpy.</li>
<li>When working with multidimensional labeled data (e.g. climate data), have a look at <a href="http://xarray.pydata.org/en/stable/">xarray</a>.</li>
</ul>
</div>

# DataFrames

## `Series`

A `Series` is a basic holder for **one-dimensional labeled data**.

In [ ]:
s = pd.Series(["a", "b", "c", "d", "e"])
s

In [ ]:
s.index

In [ ]:
s.values

Series also represent the individual columns of a `DataFrame`:

In [ ]:
df = pd.read_csv("data/titanic.csv")
age = df["Age"]
age

In [ ]:
type(age)

We can access series values via an index, just like for NumPy arrays:

In [ ]:
age[0]

Unlike the Numpy array, though, this index can be something other than integers:

In [ ]:
df2 = df.set_index("Name")
age = df2["Age"]
age

In [ ]:
age["Braund, Mr. Owen Harris"]

## `DataFrame`

<img src="./figures/nb02/dataframe.svg" width="50%" />

A `DataFrame` is a **tabular data structure** (multi-dimensional object to hold labeled data) comprised of rows and columns, akin to a spreadsheet or a database table. It combines multiple `Series` objects sharing the same index.

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.values

# Loading data

A wide range of input/output formats are natively supported by Pandas:

* CSV, text
* SQL database
* Excel
* HDF5
* json
* html
* pickle
* Parquet
* ...

In [ ]:
#pd.read

In [ ]:
#df.to

## Examples

In [ ]:
# from CSV files
df = pd.read_csv("data/titanic.csv")
df.head()

In [ ]:
# from dict
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
df_countries = pd.DataFrame(data)
df_countries

<div class="alert alert-success">
    
**Exercise**. Read the `data/no2.csv` file into a DataFrame `no2`.

Some aspects about the file:
- Which separator is used in the file?
- The second row includes unit information and should be skipped (check `skiprows` keyword).
- For missing values, it uses the `'n/d'` notation (check `na_values` keyword).
- We want to parse the 'timestamp' column as datetimes (check the `parse_dates` keyword).

</div>

# Data manipulation

## Selecting and filtering

One of Pandas' basic features is the labeling of rows and columns, which makes indexing slightly more complex compared to Numpy. We now have to distinguish between:
- selection by **label**
- selection by **position**

In [ ]:
df = pd.read_csv("data/titanic.csv")

In [ ]:
# Selecting a single column
df["Age"]

In [ ]:
df[["Age"]]

In [ ]:
# ... or multiple columns
df[["Age", "Fare"]]

In [ ]:
# Slicing accesses the rows
df[10:15]

In [ ]:
# Filtering rows
df[df.Age > 70]

In [ ]:
df.query("Age > 60 and Sex == 'female'")

In [ ]:
df.query("Name.str.startswith('Lo')", engine="python")

When using `[]` like above, you can only select from one axis at once (rows or columns, not both). For more advanced indexing, you have some extra attributes:
    
* `loc`: selection by label
* `iloc`: selection by position

In [ ]:
df = df.set_index("Name")
df

In [ ]:
df.loc["Bonnell, Miss. Elizabeth", "Fare"]

In [ ]:
df.loc["Bonnell, Miss. Elizabeth":"Andersson, Mr. Anders Johan"]

In [ ]:
df.iloc[0:2, 1:3] # similar to Numpy arrays

## Summaries

An essential piece of analysis of large data is efficient summarization: computing aggregations like `sum()`, `mean()`, `median()`, `min()`, and `max()`, in which a single number gives insights into the nature of the data.

In [ ]:
df = pd.read_csv("data/titanic.csv")

In [ ]:
df.describe()

In Pandas, summary functions include:
- `sum()`
- `count()`
- `median()`
- `quantile()`
- `min()`
- `max()`
- `mean()`
- `var()`
- `std()`
- `apply()`

In [ ]:
# Aggregate by sum
df["Fare"].sum()

In [ ]:
# ... by mean and variance
df["Fare"].mean(), df["Fare"].var()

In [ ]:
# ... by mean, over two columns
df[["Fare", "Age"]].mean()

<div class="alert alert-success">
    
**Exercise.** What is the maximum Fare that was paid? and the median?

</div>

<div class="alert alert-success">
    
**Exercise**. Compute the average survival ratio for all passengers.

</div>

<div class="alert alert-success">
    
**Exercise.** How many passengers older than 70 were on the Titanic?

</div>

## Groups

When analyzing data, you often calculate summary statistics (aggregations like the mean, max, ...). As we have seen before, we can easily calculate such a statistic for a `Series` using one of the many available methods. However, in many cases your data has certain groups in it, and in that case, you may want to calculate this statistic for each of the groups.

In [ ]:
df = pd.DataFrame({'key':['A','B','C','A','B','C','A','B','C'],
                   'data': [0, 5, 10, 5, 10, 15, 10, 15, 20]})
df

For example, in the DataFrame above, there is a column `key` which has three possible values: `'A'`, `'B'` and `'C'`. When we want to calculate the sum for each of those groups, we could do the following:

In [ ]:
for key in ['A', 'B', 'C']:
    print(key, df[df['key'] == key]['data'].sum())

What we did above, applying a function on different groups, is a "groupby operation", and Pandas provides some convenient functionality for this.

Formally, we want to **apply the same function on subsets of your dataframe, based on some key to split the dataframe in subsets**

This operation is also referred to as the "split-apply-combine" operation, involving the following steps:

* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

<img src="./figures/nb02/split-apply-combine.png" width="50%" />

In [ ]:
# groupby and aggregate with sum
df.groupby("key").sum()

In [ ]:
# groupby and aggregate with your own function
df.groupby("key").aggregate(lambda x: np.sum(x)+1)

## Aggregate, filter, transform, apply

In addition to `aggregate()`, the `GroupBy` objects have `filter()`, `transform()` and `apply()` methods that efficiently implement a variety of useful operations before combining the grouped data.

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': np.random.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

In [ ]:
# Aggregate along multiple functions
df.groupby('key').aggregate(['min', np.median, max])

In [ ]:
# Aggregate columns with specific functions
df.groupby('key').aggregate({'data1': 'min',
                             'data2': 'max'})

In [ ]:
# Filter out data based on its group
def filter_func(g):
    return g['data2'].std() > 3

In [ ]:
df

In [ ]:
df.groupby('key').std()

In [ ]:
df.groupby('key').filter(filter_func)

In [ ]:
# Transform data based on its group
df.groupby('key').transform(lambda g: g - g.mean())

In [ ]:
## Apply an arbitrary function to the group results
def norm_by_data2(g):
    g['data1'] /= g['data2'].sum()
    return g

df.groupby('key').apply(norm_by_data2)

## Combining DataFrames

In [ ]:
df1 = pd.DataFrame(
    {"a": [1, 2, 3],
     "b": [4, 5, 6]})

df2 = pd.DataFrame(
    {"a": [10, 11],
     "b": [14, 15]})

df3 = pd.DataFrame(
    {"c": [7, 8, 9]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
# Concat by rows
pd.concat([df1, df2])

In [ ]:
# Concat by columns
pd.concat([df1, df3], axis=1)

In [ ]:
# Merge / joins
df1 = pd.DataFrame(
    {"a": [1, 2, 3],
     "b": [4, 5, 6]})

df2 = pd.DataFrame(
    {"a": [2, 3, 4],
     "c": [7, 8, 9]})

pd.merge(df1, df2, how="left", on="a")

In [ ]:
pd.merge(df1, df2, how="outer", on="a")

## Plots

Dataframes come equipped with plotting functions wrapped around `matplotlib`.

In [ ]:
df = pd.read_csv("data/titanic.csv")
df.plot(x="Age", y="Fare", kind="scatter")

In [ ]:
df[["Age"]].plot(kind="hist")

<div class="alert alert-success">
    
**Exercise**. Make a bar plot to visualize the average Fare payed by people depending on their age.

</div>